@charset "utf-8";
/* 簡單流變媒體
   注意: 流變媒體要求您必須移除 HTML 中媒體的高度和寬度屬性
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
	text-align: left;
	

}

/* IE 6 不支援最大寬度，因此寬度預設為 100% */
.ie6 img {
	width:100%;
	
}

/*
	Dreamweaver 流變格線屬性
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	靈感來自於 Ethan Marcotte 的「具回應功能的網頁設計」 
	http://www.alistapart.com/articles/responsive-web-design
	
	以及 Joni Korpi 的「黃金格線系統」
	http://goldengridsystem.com/
*/

/* 行動版面: 480px 以下。 */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.9666%;
	padding-left: 1.5166%;
	padding-right: 1.5166%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 10px;
	width: 100%;
	display: block;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#bannerimg {
	border-radius: 10px;
	box-shadow: 0.25em 0.25em 0.5em 0.25em #999;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 115%;
	line-height: 200%;
}

#item1 {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 10px;
	width: 48.2758%;
	display: block;
	text-align: center;
}

#item2 {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	margin-top: 10px;
	width: 48.2758%;
	display: block;
	text-align: center;
}
#item3 {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 10px;
	width: 48.2758%;
	display: block;
	text-align: center;
}
#item4 {
	clear: none;
	float: left;
	margin-left: 3.4482%;
	margin-top: 10px;
	width: 48.2758%;
	display: block;
	text-align: center;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
	display: block;
	text-align: center;
}

/* 表格版面: 481px 到 768px。樣式繼承自: 行動版面。 */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 15px;
	width: 100%;
	display: block;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	font-size: 115%;
	line-height: 200%;
}
#item1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	margin-top: 15px;
	display: block;
	text-align: center;
}
#item2 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	margin-top: 15px;
	width: 48.7179%;
	display: block;
	text-align: center;
}
#item3 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 48.7179%;
	margin-top: 15px;
	display: block;
	text-align: center;
}
#item4 {
	clear: none;
	float: left;
	margin-left: 2.5641%;
	margin-top: 15px;
	width: 48.7179%;
	display: block;
	text-align: center;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	display: block;
	text-align: center;
}
}

/* 桌面版面: 769px 到最大 1232px。樣式繼承自: 行動版面和表格版面。 */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
}
#header {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 20px;
	width: 100%;
	display: block;
}
#banner {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#content {
	clear: both;
	float: left;
	margin-left: 20px;
	width: 98%;
	display: block;
	font-size: 150%;
	line-height: 200%;
}
#item1 {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 20px;
	width: 23.7288%;
	display: block;
	text-align: center;
}
#item2 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	margin-top: 20px;
	width: 23.7288%;
	display: block;
	text-align: center;
}
#item3 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	margin-top: 20px;
	width: 23.7288%;
	display: block;
	text-align: center;
}
#item4 {
	clear: none;
	float: left;
	margin-left: 1.6949%;
	margin-top: 20px;
	width: 23.7288%;
	display: block;
	text-align: center;
}
#footer {
	clear: both;
	float: left;
	margin-left: 0;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	display: block;
	text-align: center;
}
}
